@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!-- All Courses -->
<a href="@Url.Action("AllCourses", "Course")" class="btn btn-primary">All Courses</a>
<!-- All Students -->
<a href="@Url.Action("AllStudents", "Student")" class="btn btn-primary">All Students</a>

